.container {
    color: aquamarine;
    text-align: center;
    margin: 0 auto;
    height: 0;
}

body {
    background-image: url(../images/background.jpg);
    background-size: 100%;
    font-family: 'Amatic SC', cursive;
    height: 100%;
    text-align: center;
    font-size: 29px;
}
h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 62px;
}
#crystals{
    display: flex;
    justify-content: center;
    align-items: center;
}
.crystal{
    border: 1px solid greenyellow;
    height: 200px;
    width: 200px;
    margin: 50px;
}
#challengeNumber{
    font-size: 45px;
        font-family: 'Fredericka the Great',
        cursive;
    align-items: center;

}
#wins, #losses {
    font-size: 35px;
}